################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/*/bin/
/*/obj/
/.vs
.vscode/launch.json
.vscode/tasks.json
TestResults/
*.csproj.user
