################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RG39/bin/
/RG39/obj/
/.vs
.vscode/launch.json
.vscode/tasks.json
